.git
.gitignore
.gitmodules

Dockerfile
docker-compose.yml
.dockerignore

.venv
venv
env
*.pyenv
.env

.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

__pycache__/
*.pyc
*.pyo
*.pyd
dist/
*.egg-info/
pip-wheel-metadata/
*.cpython-*.pyc

*.log
*.log.*
.pytest_cache/
htmlcov/
.coverage

README.md
