[submodule "external/RM_API2"]
	path = external/RM_API2
	url = git@github.com:RealManRobot/RM_API2.git
[submodule "external/pyorbbecsdk"]
	path = external/pyorbbecsdk
	url = git@github.com:orbbec/pyorbbecsdk.git
