.venv/
venv/
env/
/env.bak/
/venv.bak/
/env.old/
/venv.old/

__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*.pyc

build/
*.egg-info/
*.egg
/downloads/
/eggs/
/parts/
/sdist/
/var/
/wheels/
pip-wheel-metadata/

.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace
.ionide/

.idea_modules/
.idea_unloaded_modules/
*.iml
*.ipr
*.iws

*.log
*.log.*

.pytest_cache/
htmlcov/
.coverage

.DS_Store
Thumbs.db
._*
.Spotlight-V100
.Trashes
ehthumbs.db