[submodule "external/RM_API2"]
	path = external/RM_API2
	url = https://github.com/RealManRobot/RM_API2.git
	ignore = dirty
[submodule "external/pyorbbecsdk"]
	path = external/pyorbbecsdk
	url = https://github.com/agilexrobotics/pyagxrobots.git
	ignore = dirty
