torch
torchvision
ultralytics
opencv-python
opencv-contrib-python
numpy<2.0
scipy
google-genai
sounddevice
soundfile
pyserial
pymodbus
Pillow
pandas
websockets
websocket-client
requests
pyyaml
configparser
scikit-learn
matplotlib
pytest
pytest-asyncio
black
configparser
pybind11==2.11.0
pybind11-global==2.11.0
av
pygame
pynput
wheel
wrapt<1.16.0,>=1.12.0